---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

html, body {
  padding: 0px;
  margin: 0px;
  color: #37424A;
}

body{
  padding: 10px;
  font-family: Courier New, serif;
  background: url('/cv/img/ignasi_pattern_s.png');
}

header {
  background-color: #F2D653;
  padding: 20px;
  text-align: center;
  h1 {
    color: #37424A;
    background: none;
  }
}

.links {
  padding-top: 10px;
  a, div {
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    text-decoration: none;
    padding: 4px 8px;
    margin-right: 5px;
    line-height: 20px;
    .symbol {
      margin-right: 4px;
    }
    &:hover:not(div) {
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-shadow: 2px 2px 0px white;
}

.container > * {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  background: rgba(255, 255, 255, 0.8);
  border: 1px dotted rgba(0, 0, 0, 0.1);
  padding: 5px 0px;
  margin-top: 10px;
  h1:first-child {
    margin-top: 0px;
  }
}

h1 {
  color: #4ECDC4;
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
  font-size: 40px;
}

.post {
  padding: 0px 20px 20px;
  h2 {
    margin-bottom: 0px;
    color: #48455F;
  }
  h3 {
    margin-top: 0px;
  }
  &:not(:last-child) {
    border-bottom: dotted 1px #37424A;
  }
}

p {
  color: #000;
  margin: 0 auto 12px;
  padding-bottom: 5px;
  letter-spacing: 0.015em;
  line-height: 20px;
}

small {
  color: #556270;
}

small:before {
  content: '[ ';
}

small:after {
  content: ' ]';
}

ul.skills {
  list-style: none;
  padding: 0px;
  li {
    float: left;
    margin-right: 10px;
    color: #48455F;
    border: 1px solid #48455F;
    border-radius: 8px;
    padding: 5px 11px;
    margin-bottom: 10px;
  }
}

.clearfix {
  clear: both;
}


@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('/cv/fonts/MonoSocialIconsFont-1.10.eot');
    src: url('/cv/fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('/cv/fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('/cv/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('/cv/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('/cv/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}
