---
layout: default
---

<div class="container">
  <h1>About Me</h1>
  <div class="post">
    <p>
      Since receiving my first ZX Spectrum when I was 6 I have wanted to build and create things with computers - and have been doing so ever since. I have built software for desktop and mobile as well as full stack web applications, from 2D adventure games to homework portals with 5 million users. I am forever learning and love the challenge of new technology, producing something special - especially if it entertains my 2 year old son.
    </p>
  </div>
</div>

<div class="container">

  <h1>Employment History</h1>

  {% for post in site.categories['employment'] %}
    <div class="post">
      <h2>{{ post.employer }}</h2>
      <h3>
        {{ post.title }} <small>{{ post.date | date: "%b, %Y" }} - {% if post.to == null %}present{% else %}{{ post.to | date: "%b, %Y" }}{% endif %}</small>
      </h3>
      {{ post.content }}
      <ul class="skills">
        {% for skill in post.skills %}
        <li>{{skill}}</li>
        {% endfor %}
      </ul>
      <div class='clearfix'></div>
    </div>
  {% endfor %}
</div>
<div class="container">
  <h1>Education</h1>

  {% for post in site.categories['education'] %}
    <div class="post">
      <h2>{{ post.institution }}</h2>
      <h3>
        {{ post.title }} <small>{{ post.date | date: "%b, %Y" }}</small>
      </h3>
      {{ post.content }}
    </div>
  {% endfor %}
</div>
<div class="container">
  <h1>Personal Projects</h1>

  {% for post in site.categories['projects'] %}
    <div class="post">
      <h2>{{ post.title }}</h2>
      <h3>
        {{ post.description }}
      </h3>
      {{ post.content }}
    </div>
  {% endfor %}
</div>
