<footer>
  <div class='links'>
    <div><span class='symbol'>circlegowallapin</span>Checkmate, West End, Minchinhampton, GL6 9JA</div>
    <div><span class='symbol'>circleimessage</span>07768 134241</div>
    {% comment %} <a href='http://www.twitter.com/royletron'><span class='symbol'>circletwitterbird</span>royletron</a> {% endcomment %}
    <a href='http://www.github.com/James-Adam'><span class='symbol'>circlegithubalt</span>James-Adam</a>
    {% comment %} <a href='skype:royletron?call'><span class='symbol'>circleskype</span>royletron</a> {% endcomment %}
    <a href='mailto:james.a.adam.94@gmail.com'><span class='symbol'>circleemail</span>james.a.adam.94@gmail.com</a>
  </div>
</footer>
