<header>
  <h1 style='margin: 0px; padding: 0px'>James Adam</h1>
  <h2 style='margin: 0px; padding: 0px'>Curriculum Vitae</h2>
  <div class='links'>
    {% comment %} <a href='http://www.twitter.com/royletron'><span class='symbol'>circletwitterbird</span>royletron</a> {% endcomment %}
    <a href='http://www.github.com/James-Adam'><span class='symbol'>circlegithubalt</span>James-Adam</a>
    <a href='https://www.linkedin.com/in/james-adam-93538215a/'><span class='symbol'>circlelinkedin</span>James</a>
    {% comment %} <a href='skype:royletron?call'><span class='symbol'>circleskype</span>royletron</a> {% endcomment %}
    <a href='mailto:james.a.adam.94@gmail.com'><span class='symbol'>circleemail</span>james.a.adam.94@gmail.com</a>
  </div>
</header>
