<header>
  <h1 style='margin: 0px; padding: 0px'>Darren Royle</h1>
  <h2 style='margin: 0px; padding: 0px'>Curriculum Vitae</h2>
  <div class='links'>
    <a href='http://www.twitter.com/royletron'><span class='symbol'>circletwitterbird</span>royletron</a>
    <a href='http://www.github.com/royletron'><span class='symbol'>circlegithubalt</span>royletron</a>
    <a href='skype:royletron?call'><span class='symbol'>circleskype</span>royletron</a>
    <a href='mailto:royletron@gmail.com'><span class='symbol'>circleemail</span>royletron@gmail.com</a>
  </div>
</header>
