<header>
  <h1 style='margin: 0px; padding: 0px'>Darren Royle</h1>
  <h2 style='margin: 0px; padding: 0px'>Curriculum Vitae</h2>
  <div class='links'>
    <div><span class='symbol'>gowallapin</span>12 Mayott's Rd, Abingdon, OX14 5DJ</div>
    <div><span class='symbol'>imessage</span>+44 777389 4510</div>
    <a href='http://www.twitter.com/royletron'><span class='symbol'>twitterbird</span>royletron</a>
    <a href='http://www.github.com/royletron'><span class='symbol'>githubalt</span>royletron</a>
    <a href='mailto:royletron@gmail.com'><span class='symbol'>email</span>royletron@gmail.com</a>
  </div>
</header>
